


  
    <% @articles.each do |article| %>
      <p>
        <h2><%= link_to article.title, article %> <small><%= article.published_at %></small></h2>
        <span><%= article.body[0..300] %> ...</span>

        <br>
       
        <span class="pull-right"><%= link_to 'Editar', edit_article_path(article) %></span>
        <span class="pull-right"><%= link_to 'Excluir', article, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir o post?' } %></span>
      </p>
    <% end %>


<br><br>
<%= button_to 'Criar post', new_article_path, class: "btn btn-default", :method => :get %>
