<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  
  <%= f.fields_for :profile do |builder| %>
    <div class="field">
      <%= builder.label :name %><br>
      <%= builder.text_field :name %>
    </div>

    <div class="field">
      <%= builder.label "Cidade" %><br>
      <%= builder.text_field :location %>
    </div>

    <div class="field">
      <%= builder.label :bio %><br>
      <%= builder.text_area :bio %>
    </div>

    
    <div class="field">
      <%= builder.label :facebook %><br>
      <%= builder.text_field :facebook %>
    </div>
   

    <div class="field">
      <%= builder.label :github %><br>
      <%= builder.text_field :github %>
    </div>

  <% end %>

  



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
